<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="head">
        <head>
            <meta charset="UTF-8">
            <title th:text="${title}"/>
            <!-- Bootstrap https://getbootstrap.com/docs/5.0/examples/#custom-components-->
            <link rel="stylesheet" th:href="@{/bs/css/bootstrap.css}"/>
        </head>
    </th:block>

    <body>

        <th:block th:fragment="nav">
            <!--https://getbootstrap.com/docs/5.0/components/navbar/-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <button aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"
                            class="navbar-toggler"
                            data-bs-target="#navbarTogglerDemo02" data-bs-toggle="collapse" type="button">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a aria-current="page" class="nav-link active" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item">
                                <a aria-disabled="true" class="nav-link disabled" href="#" tabindex="-1">Disabled</a>
                            </li>
                        </ul>
                        <form class="d-flex">
                            <input aria-label="Search" class="form-control me-2" placeholder="Search" type="search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </nav>
        </th:block>
        <p th:text="${text}"></p>

        <th:block th:fragment="footer">
            <footer class="footer mt-auto py-3 bg-light fixed-bottom">
                <div class="container">
                    <span class="text-muted">Copyright jg</span>
                </div>
            </footer>
        </th:block>
    </body>
    <th:block th:fragment="scripts">
        <script th:src="@{/bs/js/bootstrap.js}"></script>
    </th:block>
</html>
